package com.yidan.module.interactivity.entities;

import com.yidan.module.commons.entities.EntityBase;

public final class EntityHolder {
	
	private EntityHolder() {}
	
## ~~ begin table to static inner class
#foreach($table in $model.tables)
	public static class ${table.className}Base extends EntityBase {
	
## ~~ begin column to field
#foreach($column in $table.columns)
#if($column.name != "id")
		private $column.javaType $column.fieldName;
#end  ## ~~ end column to field
#end
		
## ~~ begin getter & setter method
#foreach($column in $table.columns)
#if($column.name != "id")
#set($get = "get")
#if($column.javaType == "boolean")
#set($get = "is")
#end
		public $column.javaType $get${column.propertyName}() {
			return $column.fieldName;
		}
	
		public void set${column.propertyName}($column.javaType $column.fieldName) {
			this.$column.fieldName = $column.fieldName;
		}
		
#end  ## ~~ end getter & setter method
#end
	}
#end  ## ~~ end table to static inner class
}